:root {
  --pink: #EA596E;
  --light-pink: #F295A3;
  --orange: #FF914D;
  --light-orange: #FFBB91;
  --yellow: #FFC54F;
  --light-yellow: #FFDB93;
  --green: #13AE6C;
  --light-green: #1EE691;
  --blue: #2AABCC;
  --light-blue: #5CC3DE;
  --purple: #8962D8;
  --light-purple: #B298E6;
  --dark-gray: #303030;
  --light-gray: #545454;
}

body {
  font-family: 'Quicksand', 'M PLUS Rounded 1c', sans-serif;
}

/* Remove 1px gap between wave and section bg */

.founder {
  margin-top: -1px;
  margin-bottom: -1px;
}

.news {
  margin-bottom: -1px;
}

.program {
  margin-top: -1px;
}

/* /Remove 1px gap between wave and section bg */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .btn {
  font-weight: 700;
}

.fa-heart {
  color: var(--pink);
}

.fa-globe-americas, .fa-globe-asia {
  --fa-secondary-opacity: 0.5;
  --fa-primary-color: var(--green);
  --fa-secondary-color: var(--blue);
}

img.hero {
  max-height: 500px;
  object-fit: cover;
}

.jumbotron {
  background-image: url('https://source.unsplash.com/collection/6882791/1000x600');
  background-size: cover;
}

.jumbotron.not-found {
  background-image: url('https://source.unsplash.com/collection/6882791/1800x600');
  background-size: cover;
}

.jumbotron.camp {
  background-image: url('https://source.unsplash.com/collection/7019254/1800x600');
  background-size: cover;
}

.jumbotron.academy {
  background-image: url('https://source.unsplash.com/collection/4255424/1800x600');
  background-size: cover;
}

.jumbotron.lab {
  background-image: url('https://source.unsplash.com/collection/8262090/1800x600');
  background-size: cover;
}

h2[id] {
  padding-top: 110px;
  margin-top: -110px;
}

.bg-pink {
  background-color: var(--pink);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-green {
  background-color: var(--green);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-purple {
  background-color: var(--purple);
}

.text-yellow {
  color: var(--yellow);
}
.text-green {
  color: var(--green);
}
.text-blue {
  color: var(--blue);
}

/* white social icons */
.social a {
  color: #fff;
}

/* timeline */
.main-timeline8{overflow:hidden;position:relative}
.main-timeline8:after,.main-timeline8:before{content:"";display:block;width:100%;clear:both}
.main-timeline8:before{content:"";width:3px;height:100%;background:#d6d5d5;position:absolute;top:30px;left:50%}
.main-timeline8 .timeline{width:50%;float:left;padding-right:30px;position:relative}
.main-timeline8 .timeline-icon{width:32px;height:32px;border-radius:50%;background:#fff;border:3px solid var(--pink);position:absolute;top:5.5%;right:-17.5px}
.main-timeline8 .year{display:block;padding:10px;margin:0;color:#fff;border-radius:0 50px 50px 0;background:var(--pink);text-align:center;position:relative}
.main-timeline8 .year:before{content:"";border-top:35px solid var(--light-pink);border-left:35px solid transparent;position:absolute;bottom:-35px;left:0}
.main-timeline8 .timeline-content{padding:30px 20px;margin:0 45px 0 35px;background:#f2f2f2}
.main-timeline8 .title{color:#504f54;margin:0 0 10px}
.main-timeline8 .description{color:#7d7b7b;margin:0}
.main-timeline8 .timeline:nth-child(even){padding:0 0 0 30px}
.main-timeline8 .timeline:nth-child(even) .timeline-icon{right:auto;left:-14.5px}
.main-timeline8 .timeline:nth-child(even) .year{border-radius:50px 0 0 50px;background:var(--orange)}
.main-timeline8 .timeline:nth-child(even) .year:before{border-left:none;border-right:35px solid transparent;left:auto;right:0}
.main-timeline8 .timeline:nth-child(even) .timeline-content{margin:0 35px 0 45px}
.main-timeline8 .timeline:nth-child(2){margin-top:170px}
.main-timeline8 .timeline:nth-child(odd){margin:-175px 0 0}
.main-timeline8 .timeline:nth-child(even){margin-bottom:80px}
.main-timeline8 .timeline:first-child,.main-timeline8 .timeline:last-child:nth-child(even){margin:0}
.main-timeline8 .timeline:nth-child(6n+2) .timeline-icon{border-color:var(--orange)}
.main-timeline8 .timeline:nth-child(6n+2) .year:before{border-top-color:var(--light-orange)}
.main-timeline8 .timeline:nth-child(6n+3) .timeline-icon{border-color:var(--yellow)}
.main-timeline8 .timeline:nth-child(6n+3) .year{background:var(--yellow)}
.main-timeline8 .timeline:nth-child(6n+3) .year:before{border-top-color:var(--light-yellow)}
.main-timeline8 .timeline:nth-child(6n+4) .timeline-icon{border-color:var(--green)}
.main-timeline8 .timeline:nth-child(6n+4) .year{background:var(--green)}
.main-timeline8 .timeline:nth-child(6n+4) .year:before{border-top-color:var(--light-green)}
.main-timeline8 .timeline:nth-child(6n+5) .timeline-icon{border-color:var(--blue)}
.main-timeline8 .timeline:nth-child(6n+5) .year{background:var(--blue)}
.main-timeline8 .timeline:nth-child(6n+5) .year:before{border-top-color:var(--light-blue)}
.main-timeline8 .timeline:nth-child(6n+6) .timeline-icon{border-color:var(--purple)}
.main-timeline8 .timeline:nth-child(6n+6) .year{background:var(--purple)}
.main-timeline8 .timeline:nth-child(6n+6) .year:before{border-top-color:var(--light-purple)}
@media only screen and (max-width:767px){.main-timeline8{overflow:visible}
.main-timeline8:before{top:0;left:0}
.main-timeline8 .timeline:nth-child(2),.main-timeline8 .timeline:nth-child(even),.main-timeline8 .timeline:nth-child(odd){margin:0}
.main-timeline8 .timeline{width:100%;float:none;padding:0 0 0 30px;margin-bottom:20px!important}
.main-timeline8 .timeline:last-child{margin:0!important}
.main-timeline8 .timeline-icon{right:auto;left:-14.5px}
.main-timeline8 .year{border-radius:50px 0 0 50px}
.main-timeline8 .year:before{border-left:none;border-right:35px solid transparent;left:auto;right:0}
.main-timeline8 .timeline-content{margin:0 35px 0 45px}
}